{% extends 'register/base.html' %}

{% block header %}
<style>
  /*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}
</style>
{% endblock %}

{% block content %}



<div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all">基本情報</label>
  <input id="programming" type="radio" name="tab_item">
  <label class="tab_item" for="programming">ボード</label>
  <div class="tab_content" id="all_content">
      <img class="card-img-top m-0" style="object-fit:cover;width:100%;height:auto"src="/media/{{ circle.image }}" alt="Card image cap">
      <div style="text-align: center">
        <p class="my-2"style="font-size:20px;font-weight: bold;">{{ circle.circle_name }}</P>
      </div>

      <div style="background-color: #f5f5f5">
        <a><br></a>
        <div class="mx-2 px-3 py-1"style="background-color: #dcdcdc;border-radius: 5px; ">
          部活/サークル情報
        </div>
        <div class="mt-3 mx-2"　style="margin-bottom:1px">
        <a style="font-size:8px;color:#808080">メッセージ</a>
        </div>
        <div class="mx-2 p-1"style="border: solid 0.5px #a9a9a9">
          <P style="font-size:13px">{{ circle.message | linebreaksbr }}</P>
        </div>

        <div class="mt-4 mx-2"　style="margin-bottom:1px">
        <a style="font-size:8px;color:#808080">基本情報</a>
        </div>
        <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td style="font-size:13px">日時/場所</td>
            <td style="font-size:13px">{{ circle.day_place | linebreaksbr }}</td>
          </tr>
          <tr>
            <td style="font-size:13px">所属人数</td>
            <td style="font-size:13px">{{ circle.member_num | linebreaksbr }}</td>
          </tr>
          <tr>
            <td style="font-size:13px">費用</td>
            <td style="font-size:13px">{{ circle.cost | linebreaksbr }}</td>
          </tr>
          <tr>
            <td style="font-size:13px">SNS/連絡先</td>
            <td style="font-size:13px">{{ circle.sns_mail | linebreaksbr }}</td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
  <div class="tab_content" id="programming_content">
    <h5 style="text-align: center">{{ circle.circle_name }}</h5>
    <a href="{% url 'register:board_create' circle.pk%}" class="btn btn-outline-dark">投稿</a>
      {% for board in board_list %}
      <hr>
      <p>{{ board.created_at }}</p>
      <p>{{ board.title }}</P>
      <p>{{ board.contents }}</P>
      <img style="max-width:60%;height:auto;" src="/media/{{ board.image }}">
      {% if user in board.good_user.all %}
      <i class="fas fa-heart"></i>
      {% else %}
      <i class="far fa-heart"></i>
      {% endif %}
      {% endfor %}
  </div>
</div>



{% endblock %}
