{% extends "register/base.html" %}


{% block content %}
<div class="mx-1">
{% if user_bool %}
<form action="" method="POST" enctype="multipart/form-data">
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}

    <button type="submit" class="btn btn-outline-dark btn-lg">送信</button>
</form>
{% else %}
<div class="alert alert-warning" role="alert">
  <strong>基本情報を編集するには、パスワードを入力し、「編集ユーザ」になる必要があります。</strong>
</div>
<div style="display: flex;justify-content: center;">
<a class="btn btn-outline-info mt-3" style="width:70%" href="{% url 'register:user_circle_add' circle.pk %}">編集ユーザ登録</a>
</div>

{% endif %}
</div>
{% endblock %}
