{% extends 'register/base.html' %}
{% block header %}
{% if user.is_authenticated %}
<meta http-equiv="refresh"content="0;URL={% url 'register:top' %}">
{% endif %}
{% endblock %}
{% block content %}
  <div style="margin-top:50px">
  <h2>We work toward providing all the information about the lecture.</h2>
  </div>
<div class="row">
<div style="text-align: center">
  <div class="col-md-6">
    <div style="margin-top:100px">
     <img src="/media/images/logo.png" width="230" height="230">
    <div style="margin:100px">
     <h1 style="font-size:500%">Evallege</h1>
    </div>
    </div>
  </div>
</div>
</div>
{% endblock%}


{% block content1 %}
  <div style="margin-top:50px">
  <h2>We work toward providing all the information about the lecture.</h2>
  </div>
<div class="row">
<div style="text-align: center">
  <div class="col-md-6">
    <div style="margin-top:100px">
     <img src="/media/images/logo.png" width="230" height="230">
    <div style="margin:100px">
     <h1 style="font-size:500%">Evallege</h1>
    </div>
    </div>
  </div>
</div>
</div>
{% endblock%}
