<body style="padding-bottom: 200px;">
    <!-- ナビバー -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
      <a class="navbar-brand" href="#!"><h3>Evallege</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <!-- Bootstrap CSS -->
        <!--{% if request.user_agent.is_mobile %}-->
        <ul class="navbar-nav mr-auto">
        <div class="container-fluid my-2">
            <div class="row">
            <div class="col-4">
          <li>
            <div style="text-align: center">
            <div class="white">
            <a href="{% url 'register:top' %}" target="_blank"> <img src="/media/images/list_1.png" width="40" height=auto border="0"> </a>
            </div>
            <a class="nav-item nav-link mx-2" href="{% url 'register:top' %}" style="font-size:13px">履修講義一覧</a>
            </div>
          </li>
            </div>
            <div class="col-4">
          <li>
            <div style="text-align: center">
            <div class="white">
            <a href="{% url 'register:select_lecture' %}" target="_blank"> <img src="/media/images/list_2.png" width="40" height=auto border="0"> </a>
            </div>
            <a class="nav-item nav-link mx-2" href="{% url 'register:select_lecture' %}" style="font-size:13px">講義を探す</a>
            </div>
          </li>
            </div>
            <div class="col-4">
          <li>
            <div style="text-align: center">
            <div class="white">
            <a href="{% url 'register:create_lecture' %}" target="_blank"> <img src="/media/images/list_3.png" width="36" height=auto border="0"> </a>
            </div>
            <a class="nav-item nav-link mx-2" href="{% url 'register:create_lecture' %}" style="font-size:13px">講義を作成</a>
            </div>
          </li>
            </div>
            </div>
        </div>
        <div class="container-fluid">
             <div class="row align-items-center my-2">
            <div class="col-4">
          <li>
            <div style="text-align: center">
            <div class="white">
            <a href="{% url 'register:text_product_list' %}" target="_blank"> <img src="/media/images/list_4.png" width="40" height=auto border="0"> </a>
            </div>
            <a class="nav-item nav-link mx-2" href="{% url 'register:text_product_list' %}" style="font-size:13px">教科書販売/購入</a>
            </div>
          </li>
            </div>
            <div class="col-4">
          <li>
            <div style="text-align: center">
            <div class="white">
            <a href="{% url 'register:user_detail' user.pk %}" target="_blank"> <img src="/media/images/list_5.png" width="36" height=auto border="0"> </a>
            </div>
            <a class="nav-item nav-link mx-2" href="{% url 'register:user_detail' user.pk %}" style="font-size:13px">ユーザー情報</a>
            </div>
          </li>
            </div>
            <div class="col-4">
          <li>
            <div style="text-align: center">
            <div class="white">
            <a href="{% url 'register:help_top' %}" target="_blank"> <img src="/media/images/list_6.png" width="40" height=auto border="0"> </a>
            </div>
            <a class="nav-item nav-link mx-2" href="{% url 'register:help_top' %}" style="font-size:13px">使い方ガイド</a>
            </div>
          </li>
            </div>
            </div>
        </div>
        </ul>
        <!--{% endif %}-->
        {% endif %}

        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-light px-4" data-toggle="modal" data-target="#exampleModalCentered">
              Logout
            </button>
            <!-- Modal -->
            <div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenteredLabel">ログアウトしますか？</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'register:logout' %}" class="btn btn-outline-danger px-4">Logout</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% else %}
          <li>
            <a href="{% url 'register:login' %}" class="btn btn-outline-light px-4">Login</a>
          </li>
          {% endif %}
        </ul>

      </div>
    </nav>

    <!-- メインコンテント -->
    <div class="mt-5 mx-0">

      {% if user.is_authenticated %}
      <!-- ユーザーがログインしている -->
      <!--{% if request.user_agent.is_mobile %}-->
      <!-- スマホを使用中 -->
      {% block content %}{% endblock %}
      <!--{% else %}-->
      <!-- PCを使用中 -->
      <div class="wrapper">
        <!--
			    <div class="side">
            <section>
							<ul>
							<section1><a class="btn-right-radius" href="{% url 'register:top' %}"><li style='color:gray'>履修講義一覧</li></a></section1>
							<section2><a class="btn-right-radius" href="{% url 'register:select_lecture' %}"><li style='color:gray'>講義を探す</li></a></section2>
							<section3><a class="btn-right-radius" href="{% url 'register:create_lecture' %}"><li style='color:gray'>講義を作成</li></a></section3>
							<section4><a class="btn-right-radius" href="{% url 'register:text_product_list' %}"><li style='color:gray'>教科書売買</li></a></section4>
							<section5><a class="btn-right-radius" href="{% url 'register:user_detail' user.pk %}"><li style='color:gray'>ユーザー情報</li></a></section5>
							<section6><a class="btn-right-radius" href="{% url 'register:help_top' %}"><li style='color:gray'>使い方ガイド</li></a></section6>
							</ul>
						</section>
          </div>
        -->
          <div class="main">
            {% block content1 %}{% endblock %}
          </div>
      </div>

      <!--{% endif %}--><!-- 使用機器の判別 -->
      {% else %}
      <!-- ログインしていない -->
      <!--{% if request.user_agent.is_mobile %}-->
      {% block content2 %}{% endblock %}
      <!--{% else %}-->
      {% block content3 %}{% endblock %}
      <!--{% endif %}-->
      {% endif %}<!-- ログインの判別 -->


    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
</body>
