{% extends "register/base.html" %}
{% block content %}

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action bg-dark text-white" aria-current="true">
    使い方ガイド
  </a>
  <a href="{% url 'register:help_contents' 0%}" class="list-group-item list-group-item-action">Evallegeの使い方</a>
  <a href="{% url 'register:help_contents' 1%}" class="list-group-item list-group-item-action">履修講義の登録/解除について</a>
  <a href="{% url 'register:help_contents' 2%}" class="list-group-item list-group-item-action">授業評価について</a>
  <a href="{% url 'register:help_contents' 3%}" class="list-group-item list-group-item-action">ユーザー情報画面について</a>
  <a href="{% url 'register:help_contents' 4%}" class="list-group-item list-group-item-action">教科書売買について</a>
  <a href="{% url 'register:help_contents' 5%}" class="list-group-item list-group-item-action">部活動・サークル掲示板について</a>
  <a href="{% url 'register:help_contents' 6%}" class="list-group-item list-group-item-action">その他問い合わせ</a>

</div>
{% endblock %}

{% block content1 %}
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action bg-dark text-white" aria-current="true">
    使い方ガイド
  </a>
  <a href="{% url 'register:help_contents' 0%}" class="list-group-item list-group-item-action">Evallegeの使い方</a>
  <a href="{% url 'register:help_contents' 1%}" class="list-group-item list-group-item-action">履修講義の登録/解除について</a>
  <a href="{% url 'register:help_contents' 2%}" class="list-group-item list-group-item-action">履修している講義がない場合</a>
  <a href="{% url 'register:help_contents' 3%}" class="list-group-item list-group-item-action">チャット機能について</a>
  <a href="{% url 'register:help_contents' 4%}" class="list-group-item list-group-item-action">詳細画面・グラフの見方について</a>
  <a href="{% url 'register:help_contents' 5%}" class="list-group-item list-group-item-action">授業評価について</a>
  <a href="{% url 'register:help_contents' 6%}" class="list-group-item list-group-item-action">ユーザー情報の変更について</a>
  <a href="{% url 'register:help_contents' 7%}" class="list-group-item list-group-item-action">今後、実装予定の機能</a>
  <a href="{% url 'register:help_contents' 8%}" class="list-group-item list-group-item-action">その他問い合わせ</a>

</div>
{% endblock %}
