{% extends "register/base.html" %}

{% block header %}
<style>
  .tab-wrap {
  	display: flex;
  	flex-wrap: wrap;
  	overflow: hidden;
  }

  .tab-label {
  	color: Gray;
  	cursor: pointer;
  	flex: 1;
  	font-weight: bold;
  	order: -1;
  	padding: 12px 24px;
  	position: relative;
  	text-align: center;
  	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
  	user-select: none;
  	white-space: nowrap;
  	-webkit-tap-highlight-color: transparent;
  }

  .tab-label:hover {
  	background: rgba(0, 0, 0, 0);
  }

  .tab-switch:checked + .tab-label {
  	color: rgba(1, 1, 1, 1);
  }

  .tab-label::after {
  	background: rgba(1, 1, 1, 1);
  	bottom: 0;
  	content: '';
  	display: block;
  	height: 3px;
  	left: 0;
  	opacity: 0;
  	pointer-events: none;
  	position: absolute;
  	transform: translateX(100%);
  	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
  	width: 100%;
  	z-index: 1;
  }

  .tab-switch:checked ~ .tab-label::after {
  	transform: translateX(-100%);
  }

  .tab-switch:checked + .tab-label::after {
  	opacity: 1;
  	transform: translateX(0);
  }

  .tab-content {
  	height:0;
  	opacity:0;
  	pointer-events:none;
  	transform: translateX(-30%);
  	transition: transform .3s 80ms, opacity .3s 80ms;
  	width: 100%;
  }

  .tab-switch:checked ~ .tab-content {
  	transform: translateX(30%);
  }

  .tab-switch:checked + .tab-label + .tab-content {
  	height: auto;
  	opacity: 1;
  	order: 1;
  	pointer-events:auto;
  	transform: translateX(0);
  }

  .tab-wrap::after {
  	content: '';
  	height: 20px;
  	order: -1;
  	width: 100%;
  }

  .tab-switch {
  	display: none;
  }



/* アコーディオンメニュー */
.ac-menu:last-child {
  margin-bottom: 60px; /* 最後の要素の下にだけ余白 */
}
.ac-menu input {
  display: none;
}
.ac-menu label {
  color: #000; /* 文字色 */
  font-size: 17px; /* 文字サイズ */
  line-height: 2; /* 行間 */
  font-weight: bold; /* 文字を太く */
  background: #474747; /* グラデーションの背景色 */
  color: #ffffff;
  padding: 10px; /* 内側の余白 */
  cursor: pointer;
  position: relative;
  display: block;

}
.ac-menu label:after {
  position: absolute;
  font-size: 20px;
  right:20px;
  top: 50%; /* 上下中央配置 */
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
  content: "＋"; /* アイコン */
}
.ac-menu input:checked ~ label::after {
  font-size: 20px;
  content: "ー"; /* クリック後のアイコン */
}
.ac-menu div {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s; /* 開閉スピード */
}
.ac-menu input:checked ~ div {
  height: auto;
  opacity: 1;
  padding: 10px; /* 中身の枠内の余白 */
  border: solid 1px #474747;
}
.ac-menu-inside {
  color: #333; /* 中身の文字色 */
  font-size: 15px; /* 中身の文字サイズ */
  line-height: 2; /* 行間 */
}

a.btn {
color: #000;
padding: 14px 19px;
border: solid 1px #000;
}

</style>
{% endblock %}

{% block content %}

<h5 class="mt-2 mx-2 mb-0"  style="font-weight:bold;font-size:18px;">{{lecture.lecture_name}}</h5>

<hr class="mt-0 p-0" style="height:2px;background-color:#9a9a9a;">
<!-- タブ -->


<div class="tab-wrap">
    <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">グラフ</label>
    <div class="tab-content">
      <!-- グラフページ -->
      <!-- 授業方式切り替えボタン -->

    <!-- グラフ -->
    <div style="text-align:right" class="mr-3">
    <p style="font-size:18px;font-weight:bold;color:#979797" class="mb-0"><span style="color:#3f3f3f">{{user_count}}</span>人が履修中/<span style="color:#3f3f3f">{{eva_count}}</span>件のデータ</p>
    </div>
    <div style="position: relative;" class="mt-1 mx-2">
        <img src="data:image/png;base64, {{ gakunen_chart }}" width=100% height=auto style="border:solid 2px #E8EEFF">
        <div style="position:absolute;top:30%;left:14.5%;width:30%"><div style="width:100%;padding-top:100%;background-color:#ffffff;border-radius:50%;box-shadow: 0px  0px 10px 4px #eaeaea;"></div></div>
        <p style="position:absolute;top:46%;left:24.5%;font-size:18px;font-weight:bold;color:#636363">学年</p>
        <div style="position:absolute;top:0px;left:65%">
          <div style="display:flex;margin-top:20px">
            <i class="fas fa-circle" style="color:#33D69F" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">Freshman</p>
          </div>
          <div style="display:flex;margin-top:-5px">
            <i class="fas fa-circle" style="color:#6F52ED" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">Sophomore</p>
          </div>
          <div style="display:flex;margin-top:-5px">
            <i class="fas fa-circle" style="color:#FFB800" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">Junior</p>
          </div>
          <div style="display:flex;margin-top:-5px">
            <i class="fas fa-circle" style="color:#FF4C61" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">Senior</p>
          </div>
        </div>

        <div style="position:absolute;top:75%;left:55%;width:45%">
          <p style="text-align:center"><span style="color:#828282;font-size:15px">最多履修学年</span><br><span style="font-size:25px">{{most_age}}</span></p>
        </div>
    </div>

    <div style="position: relative;" class="mt-2 mx-2">
        <img src="data:image/png;base64, {{ grade_chart }}" width=100% height=auto style="border:solid 2px #E8EEFF">
        <div style="position:absolute;top:30%;left:14.5%;width:30%"><div style="width:100%;padding-top:100%;background-color:#ffffff;border-radius:50%;box-shadow: 0px  0px 10px 4px #eaeaea;"></div></div>
        <p style="position:absolute;top:46%;left:24.5%;font-size:18px;font-weight:bold;color:#636363">成績</p>
        <div style="position:absolute;top:0px;left:65%">
          <div style="display:flex;margin-top:20px">
            <i class="fas fa-circle" style="color:#33D69F" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">S</p>
          </div>
          <div style="display:flex;margin-top:-5px">
            <i class="fas fa-circle" style="color:#52C8ED" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">A</p>
          </div>
          <div style="display:flex;margin-top:-5px">
            <i class="fas fa-circle" style="color:#6F52ED" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">B</p>
          </div>
          <div style="display:flex;margin-top:-5px">
            <i class="fas fa-circle" style="color:#FFB800" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">C</p>
          </div>
          <div style="display:flex;margin-top:-5px">
            <i class="fas fa-circle" style="color:#FF4C61" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">D</p>
          </div>
        </div>

        <div style="position:absolute;top:75%;left:55%;width:45%">
          <p style="text-align:center"><span style="color:#828282;font-size:15px">平均GPA</span><br><span style="font-size:25px">{{grade_average}}</span></p>
        </div>
    </div>


    <div style="position: relative;" class="mt-2 mx-2">
        <img src="data:image/png;base64, {{ dif_chart }}" width=100% height=auto style="border:solid 2px #E8EEFF">
        <div style="position:absolute;top:30%;left:14.5%;width:30%"><div style="width:100%;padding-top:100%;background-color:#ffffff;border-radius:50%;box-shadow: 0px  0px 10px 4px #eaeaea;"></div></div>
        <p style="position:absolute;top:46%;left:22%;font-size:18px;font-weight:bold;color:#636363">難易度</p>
        <div style="position:absolute;top:0px;left:65%">
          <div style="display:flex;margin-top:20px">
            <i class="fas fa-circle" style="color:#33D69F" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">Very easy</p>
          </div>
          <div style="display:flex;margin-top:-5px">
            <i class="fas fa-circle" style="color:#52C8ED" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">Eacy</p>
          </div>
          <div style="display:flex;margin-top:-5px">
            <i class="fas fa-circle" style="color:#6F52ED" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">Normal</p>
          </div>
          <div style="display:flex;margin-top:-5px">
            <i class="fas fa-circle" style="color:#FFB800" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">Hard</p>
          </div>
          <div style="display:flex;margin-top:-5px">
            <i class="fas fa-circle" style="color:#FF4C61" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">Very hard</p>
          </div>
        </div>

        <div style="position:absolute;top:75%;left:55%;width:45%">
          <p style="text-align:center"><span style="color:#828282;font-size:15px">難易度レベル</span><br><span style="font-size:25px">{{dif_average}}</span><span style="font-size:17px;color:#828282"> / 5.0</span></p>
        </div>
    </div>


    <div style="position: relative;border:solid 2px #E8EEFF" class="mt-2 mx-2">
      <p style="font-size:16px;color:#828282;text-align:center" class="mt-2">課題/テスト勉強時間(毎週)</p>
      <div style="text-align:center"><p style="line-height:160%;"><span style="font-size:17px;color:#828282">平均時間</span><br><span style="font-size:30px">{{average_week_time}}</span><span style="font-size:20px">分</span></p></div>
    <img src="data:image/png;base64, {{ time_week_chart }}" width=100% height=auto style="margin-top:-20px;">
      <p style="position:absolute;top:33%;left:6%;font-size:12px;color:#747474">(人)</p>
      <p style="position:absolute;bottom:-3.5%;right:5%;font-size:12px;color:#747474">(分)</p>
    </div>

    <div style="position: relative;border:solid 2px #E8EEFF" class="mt-2 mx-2">
      <p style="font-size:16px;color:#828282;text-align:center" class="mt-2">課題/テスト勉強時間(期末)</p>
      <div style="text-align:center"><p style="line-height:160%;"><span style="font-size:17px;color:#828282">平均時間</span><br><span style="font-size:30px">{{average_last_time}}</span><span style="font-size:20px">分</span></p></div>
    <img src="data:image/png;base64, {{ time_last_chart }}" width=100% height=auto style="margin-top:-20px;">
      <p style="position:absolute;top:33%;left:6%;font-size:12px;color:#747474">(人)</p>
      <p style="position:absolute;bottom:-3.5%;right:5%;font-size:12px;color:#747474">(分)</p>
    </div>


    <div style="position: relative;" class="mt-2 mx-2">
        <img src="data:image/png;base64, {{ eva_chart }}" width=100% height=auto style="border:solid 2px #E8EEFF">
        <div style="position:absolute;top:30%;left:14.5%;width:30%"><div style="width:100%;padding-top:100%;background-color:#ffffff;border-radius:50%;box-shadow: 0px  0px 10px 4px #eaeaea;"></div></div>
        <p style="position:absolute;top:46%;left:19.5%;font-size:18px;font-weight:bold;color:#636363">総合評価</p>
        <div style="position:absolute;top:0px;left:65%">
          <div style="display:flex;margin-top:20px">
            <i class="fas fa-circle" style="color:#33D69F" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">S</p>
          </div>
          <div style="display:flex;margin-top:-5px">
            <i class="fas fa-circle" style="color:#52C8ED" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">A</p>
          </div>
          <div style="display:flex;margin-top:-5px">
            <i class="fas fa-circle" style="color:#6F52ED" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">B</p>
          </div>
          <div style="display:flex;margin-top:-5px">
            <i class="fas fa-circle" style="color:#FFB800" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">C</p>
          </div>
          <div style="display:flex;margin-top:-5px">
            <i class="fas fa-circle" style="color:#FF4C61" ></i>
            <p class="ml-2" style="font-size:17px;font-wight:bold;margin-top:-4px;color:#696969">D</p>
          </div>
        </div>

        <div style="position:absolute;top:75%;left:55%;width:45%">
          <p style="text-align:center"><span style="color:#828282;font-size:15px">評価平均</span><br><span style="font-size:25px">{{eva_average}}</span><span style="font-size:17px;color:#828282"> / 5.0</span></p>
        </div>
    </div>

    <div style="height:20px"></div>


    </div>
    <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">詳細</label>
    <div class="tab-content mx-2">
      <!-- 詳細ページ -->

      <div style="display: flex;margin-left: auto;width:70px;height:auto;">
      <a href="{% url 'register:lecture_edit' lecture.pk %}" class="btn mx-2">
      	<i class="fas fa-pen fa-lg"></i>
      </a>
      </div>

      <div class="ac-menu mt-3">
    <input id="ac-1" type="checkbox" />
    <label for="ac-1">講義内容</label>
    <div class="ac-menu-inside">
          <p>{{lecture.contents| linebreaksbr}}</p>
    </div>
</div>
<div class="ac-menu">
    <input id="ac-2" type="checkbox" />
    <label for="ac-2">課題</label>
    <div class="ac-menu-inside">
        <p>{{lecture.homework| linebreaksbr}}</p>
    </div>
</div>
<div class="ac-menu">
    <input id="ac-3" type="checkbox" />
    <label for="ac-3">出席</label>
    <div class="ac-menu-inside">
        <p>{{lecture.Attendance| linebreaksbr}}</p>
    </div>
</div>
<div class="ac-menu">
    <input id="ac-4" type="checkbox" />
    <label for="ac-4">その他</label>
    <div class="ac-menu-inside">
        <p>{{lecture.others| linebreaksbr}}</p>
    </div>
</div>



    </div>
    <input id="TAB-03" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-03">チャット</label>
    <div class="tab-content mx-2">
      <!-- チャット -->


      <form action="" method="POST" style="position:fixed">
         {{form.non_field_errors}}
         <div style="display: flex;">
         {% for field in form %}
         <div class="form-group">
           {{field}}
           {{field.errors}}
         </div>
         {% endfor %}
         {% csrf_token %}
         <button type="submit" class="btn btn-outline-primary mb-3">
           投稿
         </button>
         </div>
       </form>

      <div style="margin-top:70px">
      {% for chat in chat_list %}
       <p style="color:#606060;font-size:12px">{{chat.user.user_name}}  /  {{chat.created_at}}</p>
       <p style="font-size:14px">{{chat.chat_text}}</P>
         <hr>
         {% empty %}
         <div class="alert alert-primary" role="alert">講義内容や課題について質問しましょう</div>
       {% endfor %}
      </div>

    </div>

  {% endblock %}



  {% block content1 %}
  <div class="mr-5">
  <table class="table mb-5">
    <thead class="thead-dark">
      <tr>
        <th>Chat</th>
      </tr>
    </thead>
    <tbody>
      {% for chat in chat_list %}
      <tr>
        <td><span style="color:gray">{{chat.user.user_name}}  /  {{chat.created_at}}</span><br><p>{{chat.chat_text}}</P></td>
      </tr>
      {% empty %}
      <td>課題やテストについてチャットで質問できます</td>
      {% endfor %}
    </tbody>
  </table>
  </div>

  <footer style="position: fixed;bottom: 0; width:80%;background-color: white;">
    <form action="" method="POST">
      {{form.non_field_errors}}
      {% for field in form %}
      <div class="form-group">
        {{field}}
        {{field.errors}}
      </div>
      {% endfor %}
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-dark my-lg-4 my-4">チャットを投稿</button>
    </form>
  </footer>
</div>
{% endblock %}
