{% extends "register/base.html" %}

{% block header %}
<style>
  /*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 0px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.acd-check{
    display: none;
}
.acd-label{
    background: #333;
    color: #fff;
    display: block;
    margin-bottom: 1px;
    padding: 10px;
}
.acd-content{
    border: 1px solid #333;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .5s;
    visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content{
    height: 40px;
    opacity: 1;
    padding: 10px;
    visibility: visible;
}


.vertical-scroll-table{
  color: #5e5e5e;
    max-height: 70%;
  overflow: auto;
  overflow-x: hidden;
}
.vertical-scroll-table table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.vertical-scroll-table table thead tr{
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
}
.vertical-scroll-table table tbody tr:nth-child(even){
  background-color: #fafbfc;
}
.vertical-scroll-table table td{
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
}

.vertical-scroll-table{
  color: #5e5e5e;
    max-height: 70%;
  overflow: auto;
  overflow-x: hidden;
}
.vertical-scroll-table table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.vertical-scroll-table table thead tr{
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
}
.vertical-scroll-table table tbody tr:nth-child(even){
  background-color: #fafbfc;
}
.vertical-scroll-table table td{
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
}

</style>
{% endblock %}

{% block content %}

<h5 class="mt-4 mb-0">{{lecture.lecture_name}}</h5>
<!-- タブ -->
<div class="tabs">
    <input id="all" type="radio" name="tab_item" checked>
    <label class="tab_item" for="all">グラフ</label>
    <input id="programming" type="radio" name="tab_item">
    <label class="tab_item" for="programming">詳細</label>
    <input id="design" type="radio" name="tab_item">
    <label class="tab_item" for="design">チャット</label>

<div class="tab_content" id="all_content">
  <!-- グラフページ -->
  <!-- 授業方式切り替えボタン -->
  <div style="text-align:right">
<div class="dropdown mt-1">
<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  授業方式
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
  <a class="dropdown-item" href="{% url 'register:detail' lecture.pk 0 %}">全ての方式</a>
  <a class="dropdown-item" href="{% url 'register:detail' lecture.pk 1 %}">対面</a>
  <a class="dropdown-item" href="{% url 'register:detail' lecture.pk 2 %}">オンライン</a>
</div>
</div>
</div>
<!-- グラフ -->
<hr class="mt-0" color="#808080" style="height:1px;width:200px"align="left">
<div class="row">
<div class="col-md-4 mt-5">
  <div style="text-align: center">
    <h5>学年比率<h5>
  </div>
  <img src="data:image/png;base64, {{ gakunen_chart }}" width=350 height=280>
</div>
<div class="col-md-4 mt-5">
  <div style="text-align: center">
    <h5>成績<h5>
  </div>
  <img src="data:image/png;base64, {{ grade_chart }}" width=350 height=280>
</div>
<div class="col-md-4 mt-5">
  <div style="text-align: center">
    <h5>難易度<h5>
  </div>
  <img src="data:image/png;base64, {{ dif_chart }}" width=350 height=280>
</div>
</div>

<div class="row">
<div class="col-md-4 mt-5">
<div style="text-align: center">
  <h5>課題量<h5>
</div>
<img src="data:image/png;base64, {{ eva_chart }}" width=350 height=280>
</div>
</div>
</div>


<div class="tab_content" id="programming_content">
<input id="acd-check1" class="acd-check" type="checkbox">
<label class="acd-label" for="acd-check1">講義内容</label>
<div class="acd-content">
    <p>{{ lecture.contents }}</p>
</div>
<input id="acd-check2" class="acd-check" type="checkbox">
<label class="acd-label" for="acd-check2">課題</label>
<div class="acd-content">
    <p>{{ lecture.homework }}</p>
</div>
<input id="acd-check2" class="acd-check" type="checkbox">
<label class="acd-label" for="acd-check2">出席</label>
<div class="acd-content">
    <p>{{ lecture.Attendance }}</p>
</div>
<input id="acd-check2" class="acd-check" type="checkbox">
<label class="acd-label" for="acd-check2">その他</label>
<div class="acd-content">
    <p>{{ lecture.others }}</p>
</div>
</div>


<div class="tab_content" id="design_content">
  <!-- チャット -->

  <div class="vertical-scroll-table">
  <table rules="rows">
    <thead class="thead-dark">
      <tr>
        <th>Chat</th>
      </tr>
    </thead>

    <tbody>
      <div class="scroll">
          <div id="scroll-inner">
      {% for chat in chat_list %}
      <tr>
        <td><span style="color:gray">{{chat.user.user_name}}  /  {{chat.created_at}}</span><br><p>{{chat.chat_text}}</P></td>
      </tr>
      {% empty %}
      <td>課題やテストについてチャットで質問できます</td>
      {% endfor %}
    </div>
    </div>
    </tbody>
  </table>
  </div>

  <form action="" method="POST">
    {{form.non_field_errors}}
    {% for field in form %}
    <div class="form-group" style="position:absolute;bottom:0;width:91.5%">
      {{field}}
      {{field.errors}}
    </div>
    {% endfor %}
    {% csrf_token %}
    <button type="submit" class="btn btn-link my-lg-4 my-1" style="position:absolute;bottom:15;right:15">
      <i class="fas fa-paper-plane fa-lg"></i>
    </button>
  </form>

  {% endblock %}



  {% block content1 %}
  <div class="mr-5">
  <table class="table mb-5">
    <thead class="thead-dark">
      <tr>
        <th>Chat</th>
      </tr>
    </thead>
    <tbody>
      {% for chat in chat_list %}
      <tr>
        <td><span style="color:gray">{{chat.user.user_name}}  /  {{chat.created_at}}</span><br><p>{{chat.chat_text}}</P></td>
      </tr>
      {% empty %}
      <td>課題やテストについてチャットで質問できます</td>
      {% endfor %}
    </tbody>
  </table>
  </div>

  <footer style="position: fixed;bottom: 0; width:80%;background-color: white;">
    <form action="" method="POST">
      {{form.non_field_errors}}
      {% for field in form %}
      <div class="form-group">
        {{field}}
        {{field.errors}}
      </div>
      {% endfor %}
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-dark my-lg-4 my-4">チャットを投稿</button>
    </form>
  </footer>
</div>
{% endblock %}
