{% extends "register/base.html" %}
{% block header %}
{% if user.is_authenticated %}
<meta http-equiv="refresh"content="0;URL={% url 'register:top' %}">
{% endif %}
{% endblock %}
{% block content %}
<div class="row">
    <!-- 左側、ログインエリア -->
    <div class="col-md-6">
      <div style="text-align: center">
          <div style="margin-top:80px">
           <img src="/media/images/logo.png" width="230" height="230">
           </div>
          <div style="margin:50px">
           <h1 style="font-size:500%;font-family:'ヒラギノ角ゴ ProN W3';font-weight:bold;">Evallege</h1>
          </div>
      </div>
    </div><!-- 左側、ログインエリアおわり -->

    <!-- 右側、会員登録エリア -->
    <div class="card col-md-6">
      <div class="card-body">
          <form action="{% url 'register:login' %}" method="POST">
              {{ form.non_field_errors }}
              {% for field in form %}
                  {{ field }}
                  {{ field.errors }}
                  <hr>
              {% endfor %}
              <button type="submit" class="btn btn-outline-dark btn-lg btn-block" >ログイン</button>
              <input type="hidden" name="next" value="{{ next }}" />
              {% csrf_token %}
          </form>
      </div>
      <div class="card-body">
          <a href="{% url 'register:user_create' %}" class="btn btn-outline-dark btn-lg btn-block" >会員登録</a><hr>
          <a href="{% url 'register:password_reset' %}" class="btn btn-outline-dark btn-lg btn-block" >パスワードを忘れた方</a>
      </div>

    </div><!-- 右側、会員登録エリアおわり -->
</div>
<div style="text-align: center">
<div style="margin-top:100px;margin-bottom:100px">
<h2>We work toward providing all the information about the lecture.</h2>
</div>
</div>
{% endblock %}
