{% extends "register/base.html" %}
{% block content %}
<p>
    パスワードを変更しました。<br>
    <a class="btn btn-dark btn-lg" href="{% url 'register:login' %}">ログイン</a>
</p>
{% endblock %}


{% block content1 %}
<p>
    パスワードを変更しました。<br>
    <a class="btn btn-dark btn-lg" href="{% url 'register:login' %}">ログイン</a>
</p>
{% endblock %}


{% block content2 %}
<p>
    パスワードを変更しました。<br>
    <a class="btn btn-dark btn-lg" href="{% url 'register:login' %}">ログイン</a>
</p>
{% endblock %}

{% block content3 %}
<p>
    パスワードを変更しました。<br>
    <a class="btn btn-dark btn-lg" href="{% url 'register:login' %}">ログイン</a>
</p>
{% endblock %}
