{% extends "register/base.html" %}
{% block content %}
<div class="my-3 mx-3">
<div class="alert alert-info" role="alert">
  パスワードの再設定が完了しました。
</div>
<div style="text-align:center">
<a class="btn btn-outline-info" style="width:70%" href="{% url 'register:login' %}">ログイン画面へ</a>
</div>
</div>
{% endblock %}

{% block content1 %}
<p>
    パスワード再設定を完了しました。<br>
</p>
{% endblock %}

{% block content2 %}
<div class="my-3 mx-3">
<div class="alert alert-info" role="alert">
  パスワードの再設定が完了しました。
</div>
<div style="text-align:center">
<a class="btn btn-outline-info" style="width:70%" href="{% url 'register:login' %}">ログイン画面へ</a>
</div>
</div>
{% endblock %}

{% block content3 %}
<p>
    パスワード再設定を完了しました。<br>
</p>
{% endblock %}
