{% extends "register/base.html" %}
{% block content %}
<div class="alert alert-info" role="alert">
<h5 class="alert-heading" style="font-weight:bold">パスワードの再設定は完了していません</h5>
ご登録いただいたメールアドレスに、パスワード再設定用URLを送信いたしました。<br>
URLよりパスワードの再設定を行ってください。
</div>
{% endblock %}


{% block content1 %}
<p>
    パスワードを変更しました。<br>
</p>
{% endblock %}

{% block content2 %}
<div class="my-3 mx-3">
<div class="alert alert-info" role="alert">
<h5 class="alert-heading" style="font-weight:bold">パスワードの再設定は完了していません</h5>
ご登録いただいたメールアドレスに、パスワード再設定用URLを送信いたしました。<br>
URLよりパスワードの再設定を行ってください。
</div>
</div>
{% endblock %}

{% block content3 %}
<p>
    パスワードを変更しました。<br>
</p>
{% endblock %}
