{% extends "register/base.html" %}



{% block content %}

<div class="row mr-0">
  <!-- Button trigger modal -->
  <div class="col-3">
    <button type="button" style="font-size:10px;height:30px" class="btn btn-outline-secondary my-3"
      data-toggle="modal" data-target="#exampleModalScrollable">
      一括検索
    </button>
    <div class="modal" id="exampleModalScrollable" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content" stle="width:40%">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenteredLabel">一括検索</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <p class="card-text">武蔵3sから講義をコピーして一括検索ができます。</p>
          		<a href="#">詳しい使い方をみる</a>


           <div class="form-group">
          	 <form class="form-inline mt-4" method="GET" action="{% url 'register:select_lecture' %}">
          		 <textarea id="textarea1" class="form-control" name="keyword2" style="width:100%;height:300px;" placeholder="コピーを貼り付け"></textarea>
           	</form>
          </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-success my-2 my-sm-2" type="submit">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form class="my-3 col-9 form-inline pr-0" method="GET" action="{% url 'register:select_lecture' %}">
    <div class="form-group w-75 mb-0">
      <input class="form-control" style="height:30px" type="text" placeholder="Search"
        aria-label="Search" name="keyword">
    </div>
    <div style="width: 5%;"></div>
    <button class="btn btn-outline-success " style="height:30px; width: 20%;" type="submit">
      <i class="fas fa-search pb-3"></i>
    </button>
  </form>
</div>

    {% for lecture in lecture_list %}

    <div class="card mt-4">
    	<div class="card-body">
    		<h4 class="card-title">{{lecture.lecture_name}}</h4>
    		<p class="card-text">担当教員：{{lecture.teacher_name}}<br>作成日：{{lecture.created_at}}</p>
    		<div style="display:inline-flex">
    		 <div class="btn-group" role="group" aria-label="Basic example">
    				<a href="{% url 'register:detail' lecture.pk 0 %}" class="btn btn-outline-dark">
    					<i class="fas fa-chart-pie fa-lg"	></i>
    				</a>
    				<a href="{% url 'register:chat' lecture.pk %}" class="btn btn-outline-dark">
    					<i class="far fa-comment-dots fa-lg"></i>
    				</a>
    				{% if lecture not in user_lecture_eva_list %}
    				<a href="{% url 'register:evaluate' lecture.pk%}" class="btn btn-outline-dark">
    					<i class="far fa-thumbs-up fa-lg"></i>
    				</a>
    				{% endif %}
    		</div>
        <form action="{% url 'register:select_lecture' %}" method='POST'> <!-- ここを変更 -->
           {% if lecture in user_lecture_list %}
           <button class="btn btn-outline-danger ml-3" name="lecture" value="{{ lecture.id }}">
             <i class="fas fa-minus"></i>
           </button>
           {% else %}
           <button class="btn btn-outline-success ml-3" name="lecture" value="{{ lecture.id }}">
             <i class="fas fa-plus"></i>
           </button>
           {% endif %}
           {% csrf_token %}
       </form>
    </div>
    	</div>
    	</div>

    {% endfor %}


{% include 'register/page5.html' %}
{% endblock %}


{% block content1 %}
<div class="row">
    <!-- 左側、ログインエリア -->
    <div class="col-md-8">

    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'register:select_lecture' %}">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="keyword">
      <button class="btn btn-outline-success my-2 my-sm-2" type="submit">Search</button>
    </form>
    {% for lecture in lecture_list %}
      <div class="card">
			 <div class="card-body">
         <h4 class="card-title">{{lecture.lecture_name}}</h4>
         <p class="card-text">担当教員：{{lecture.teacher_name}}　　作成日：{{lecture.created_at}}</p>
         <div style="display:inline-flex">
					 <div class="btn-group" role="group" aria-label="Basic example">
							<a href="{% url 'register:detail' lecture.pk 0 %}" class="btn btn-outline-dark">詳細を表示</a>
							<a href="{% url 'register:chat' lecture.pk %}" class="btn btn-outline-dark">チャット</a>
							{% if lecture not in user_lecture_eva_list %}
							<a href="{% url 'register:evaluate' lecture.pk %}" class="btn btn-outline-dark">授業評価</a>
							{% endif %}
					</div>
					<form action="{% url 'register:select_lecture' %}" method='POST'> <!-- ここを変更 -->
	 					{% if lecture in user_lecture_list %}
	 					<button class="btn btn-outline-danger mx-lg-1" name="lecture" value="{{ lecture.id }}">登録解除</button>
	 					{% else %}
	 					<button class="btn btn-outline-success mx-lg-1" name="lecture" value="{{ lecture.id }}">登録</button>
	 					{% endif %}
	 					{% csrf_token %}
	 			</form>
       </div>
       </div>
      </div>
    {% endfor %}
</div>
<div class="col-md-4">
	<div class="card mt-4">
  <div class="card-header">
    <h5>一括検索</h5>
  </div>
  <div class="card-body">
    <p class="card-text">武蔵3sから講義をコピーして一括検索ができます。</p>
		<a href="#">詳しい使い方をみる</a>
  </div>
</div>

 <div class="form-group">
	 <form class="form-inline mt-4" method="GET" action="{% url 'register:select_lecture' %}">
		 <textarea id="textarea1" class="form-control" name="keyword2" style="width:100%;height:300px;" placeholder="コピーを貼り付け"></textarea>
 		<button class="btn btn-outline-success my-2 my-sm-2" type="submit">Search</button>
 	</form>
</div>
</div>
</div>
{% include 'register/page5.html' %}
{% endblock %}
