{% extends "register/base.html" %}

{% block header %}
<style>
  .container{
  display: flex;
  flex-direction: column;
  height: 80%;
}
.scroll_block{
  flex: 1;
  overflow-y: auto;
}

/*  ---------------------
   以下は調整用
 --------------------- */

.scroll_block{
  border: 1px solid;
  border-color: #c0c0c0;
  border-radius: 5px;
}

ol.list_parentheses{
  padding:0 0 0 1em;
  margin:0;
}
ol.list_parentheses li{
  list-style-type:none;
  list-style-position:inside;
  counter-increment: cnt;
}
ol.list_parentheses li:before{
  display: marker;
  content: "(" counter(cnt) ") ";
}
</style>
{% endblock %}

{% block content2 %}
<div class="container">

     <h4 class="my-3" style="text-align:center">利用規約</h4>

    <div class="scroll_block p-2">
      <p style="font-size:14px">利用規約<br>
この利用規約(以下、「本規約」といいます。)は、Evallege運営チーム(以下、「当チーム」といいます。)がこのウェブサイト上で提供するサービス(以下、「本サービス」といいます。)の利用条件を定めるものです。登録ユーザーの皆さま(以下、「ユーザー」といいます。)には、本規約に従って、本サービスをご利用いただきます。</p>
<p style="font-size:14px">第1条(適用)<br>
本規約は、ユーザーと当チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。</p>

<p style="font-size:14px;margin-bottom:0px">第2条(利用登録)</p>
<ol style="font-size:14px;margin-left:-1.5em">
<li>登録希望者が当チームの定める方法によって利用登録を申請し、当チームがこれを承認することによって、利用登録が完了するものとします。</li>
<li>当チームは、利用登録の申請者に以下の事由があると判断した場合、利用登録の申請を承認しないことがあり、その理由については一切の開示義務を負わないものとします。
  <ul style="margin-left:-20px">
<li>利用登録の申請に際して虚偽の事項を届け出た場合</li>
<li>本規約に違反したことがある者からの申請である場合</li>
<li>その他、当チームが利用登録を相当でないと判断した場合</li>
  </ul>
</li>
</ol>
<p style="font-size:14px;margin-bottom:0px">第3条(パスワードの管理)</p>
<ol style="font-size:14px;margin-left:-1.5em">
<li>ユーザーは、自己の責任において、本サービスのパスワードを管理するものとします。</li>
<li>ユーザーは、いかなる場合にも、パスワードを第三者に譲渡または貸与することはできません。当チームは、メールアドレスとパスワードの組み合わせが登録情報と一致してログインされた場合には、そのユーザー自身による利用とみなします。</li>
</ol>

<p style="font-size:14px;margin-bottom:0px">第4条(禁止事項)<br>
ユーザーは、本サービスの利用にあたり、以下の行為をしてはなりません。</p>
<ol style="font-size:14px;margin-left:-1.5em">
<li>法令または公序良俗に違反する行為</li>
<li>犯罪行為に関連する行為</li>
<li>当チームのサーバーまたはネットワークの機能を破壊したり、妨害したりする行為</li>
<li>当チームのサービスの運営を妨害するおそれのある行為</li>
<li>他のユーザーに関する個人情報等を収集または蓄積する行為</li>
<li>他のユーザーに成りすます行為</li>
<li>当チームのサービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為</li>
<li>その他、当チームが不適切と判断する行為</li>
</ol>

<p style="font-size:14px;margin-bottom:0px">第5条(本サービスの提供の停止等)</p>
<ol style="font-size:14px;margin-left:-1.5em">
<li>当チームは、以下のいずれかの事由があると判断した場合、ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。
<ul style="margin-left:-20px">
<li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
<li>地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合</li>
<li>コンピュータまたは通信回線等が事故により停止した場合</li>
<li>その他、当チームが本サービスの提供が困難と判断した場合</li>
</ul>
</li>
<li>当チームは、本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害について、理由を問わず一切の責任を負わないものとします。</li>
</ol>


<p style="font-size:14px;margin-bottom:0px">第6条(利用制限および登録抹消)</p>
<ol style="font-size:14px;margin-left:-1.5em">
<li>
当チームは、以下の場合には、事前の通知なく、ユーザーに対して、本サービスの全部もしくは一部の利用を制限し、またはユーザーとしての登録を抹消することができるものとします。
<ul style="margin-left:-20px">
<li>本規約のいずれかの条項に違反した場合</li>
<li>登録事項に虚偽の事実があることが判明した場合</li>
<li>その他、当チームが本サービスの利用を適当でないと判断した場合</li>
</ul>
</li>
<li>
当チームは、本条に基づき当チームが行った行為によりユーザーに生じた損害について、一切の責任を負いません。
</li>
</ol>


<p style="font-size:14px;margin-bottom:0px">第7条(免責事項)</p>
<ol style="font-size:14px;margin-left:-1.5em">
<li>当チームの債務不履行責任は、当チームの故意または重過失によらない場合には免責されるものとします。</li>
<li>当チームは、何らかの理由によって責任を負う場合にも、通常生じうる損害の範囲内かつ有料サービスにおいては代金額(継続的サービスの場合には1か月分相当額)の範囲内においてのみ賠償の責任を負うものとします。</li>
<li>当チームは、本サービスに関して、ユーザーと他のユーザーまたは第三者との間において生じた取引、連絡または紛争等について一切責任を負いません。</li>
</ol>
<p style="font-size:14px;">第8条(サービス内容の変更等)<br>
当チームは、ユーザーに通知することなく、本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし、これによってユーザーに生じた損害について一切の責任を負いません。</p>

<p style="font-size:14px;">第9条(利用規約の変更)<br>
当チームは、必要と判断した場合には、ユーザーに通知することなくいつでも本規約を変更することができるものとします。</p>

<p style="font-size:14px;">第10条(通知または連絡)<br>
ユーザーと当チームとの間の通知または連絡は、当チームの定める方法によって行うものとします。</p>

<p style="font-size:14px;">第11条(権利義務の譲渡の禁止)<br>
ユーザーは、当チームの書面による事前の承諾なく、利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し、または担保に供することはできません。</p>

<p style="font-size:14px;margin-bottom:0px">第12条(一般条項)</p>
<ol style="font-size:14px;margin-left:-1.5em">
<li>本規約の解釈にあたっては、日本法を準拠法とします。</li>
<li>本サービスに関して紛争が生じた場合には、当チームの本店所在地を管轄する裁判所を専属的合意管轄とします。</li>
</ol>

<p style="font-size:14px;margin-bottom:0px">以 上</p>


    </div>
   </div>
   <div style="text-align:center">
   <a href="{% url 'register:user_create' %}" class="btn btn-outline-info mt-4">同意して会員登録へ進む</a>
   </div>
{% endblock %}
