{% extends 'register/base.html' %}

{% block context %}

{% endblock %}


{% block content1 %}
{% if pk == 0 %}
<!-- 出品リストの時 -->
{% if text_product_list %}
<!-- リストがある場合 -->
{% for text_product in text_product_list %}
<div class="card">
  <div class="card-body">

    <div class="media">
    <!-- 1.画像の配置 -->
    <a class="media-left mr-5" href="#">
        <img src="/media/{{ text_product.image }}" width="120px" height=120px>
    </a>
    <!-- 2.画像の説明 -->
    <div class="media-body">
        <h2 class="media-heading"><a href="{% url 'register:sale_buy_process' text_product.pk 0 %}">{{ text_product.product_name }}</a></h2>
        <h5>¥{{ text_product.price }}</h5>
        <h5>{{ text_product.lecture }}</h5>
        {% if text_product.on_sale == True %}
        <p><font color="green">出品中</font></p>
        {% else %}
        {% if text_product.sale_done == True %}
        <p><font color="green">販売済み</font></p>
        {% else %}
        <p><font color="red">※ 販売手続き未完了</font></p>
        {% endif %}
        {% endif %}
    </div>
　　</div>
  </div>
</div>
{% endfor %}
{% else %}<!-- リストがない場合 -->
<div class="card">
  <div class="card-body">
    <h5>出品したテキストはまだありません。「出品ボタン」から履修の終わった教科書を出品してみましょう。</h5>
  </div>
</div>
{% endif %}<!-- リストがあるかないか -->
{% else %}<!-- 購入リストの時 -->
{% if text_product_list %}<!-- リストがあるかないか -->
{% for text_product in text_product_list %}
<div class="card">
  <div class="card-body">

    <div class="media">
    <!-- 1.画像の配置 -->
    <a class="media-left mr-5" href="#">
        <img src="/media/{{ text_product.image }}" width="120px" height=120px>
    </a>
    <!-- 2.画像の説明 -->
    <div class="media-body">
        <h2 class="media-heading"><a href="{% url 'register:sale_buy_process' text_product.pk 1 %}">{{ text_product.product_name }}</a></h2>
        <h5>¥{{ text_product.price }}</h5>
        <h5>{{ text_product.lecture }}</h5>
        {% if text_product.sale_done == True %}
        <p><font color="green">購入済み</font></p>
        {% else %}
        <p><font color="red">※ 購入手続き未完了</font></p>
        {% endif %}
    </div>
　　</div>
  </div>
</div>
{% endfor %}
{% else %}
<div class="card">
  <div class="card-body">
    <h5>購入したテキストはまだありません。「購入ボタン」から必要な教科書をお得に手に入れましょう。</h5>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock %}
