{% extends 'register/base.html' %}

{% block header %}

<style media="screen">
  .relative {
      position: relative;
      width: 300px;
  }
  .absolute {
      position: absolute;
      right:0px;
      bottom: -30px;
      width: 300px;
      height: auto;
  }


  .inline-block_test {
    display: inline-block;      /* インラインブロック要素にする */
    margin:  20px;             /* 余白指定 */
    vertical-align:  top;    /* 要素を上下中央揃えにする */
}
</style>
{% endblock %}

{% block content %}
<p>{{ message }}</p>

<div class="card">
  <div class="card-body">
    <img src="/media/images/IMG_2702.jpeg" width="200px" height=auto>
    <h3>{{ text_product.product_name }}</h3>
    <h4>¥{{ text_product.price }}</h4>
    <p>{{ text_product.description | linebreaksbr }}<p>
    <p>出品者：{{ text_product.sale_user.user_name }}</p>
    <p>出品日：{{ text_product.created_at }}</p>

    {% if user.is_authenticated %}
    <form action="" method="POST">
      <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ publick_key }}"
          data-amount="{{ text_product.price }}"
          data-name="Evallege"
          data-description="{{ text_product.product_name }}"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="ja"
          data-currency="jpy"
          data-email="{{ user.email }}">
      </script>
      {% csrf_token %}
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block content1 %}
<p>{{ message }}</p>

<div class="card">
  <div class="card-body">
    <div class="inline-block_test">
      <div class="relative">
    <img src="/media/images/IMG_2702.jpeg" width="300px" height=auto>
    {% if text_product.on_sale == False %}
    <img src="/media/images/sold.png" class="absolute">
    {% endif %}
      </div>
    </div>

    <div class="inline-block_test">
    <h3>{{ text_product.product_name }}</h3>
    <h4><font color="red">¥{{ text_product.price }}</font></h4>
    <p>{{ text_product.description | linebreaksbr }}<p>
    <a href="{% url 'register:text_sale_user' text_product.sale_user.pk %}"><p>出品者：{{ text_product.sale_user.user_name }}</p></a>
    <p>出品日：{{ text_product.created_at }}</p>
    <a href="{% url 'register:text_chat' text_product.pk %}" class="btn btn-outline-dark">コメントを見る</a><hr>

    {% if user.is_authenticated %}
    {% if on_sale %}
    <form action="" method="POST">
      <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ publick_key }}"
          data-amount="{{ text_product.price }}"
          data-name="Evallege"
          data-description="{{ text_product.product_name }}"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="ja"
          data-currency="jpy"
          data-email="{{ user.email }}">
      </script>
      {% csrf_token %}
    </form>
    {% endif %}
    {% endif %}
</div>
</div>
</div>


<!-- 購入ボタン・フォームの作成 -->

{% endblock %}
