{% extends 'register/base.html' %}


{% block header %}

<style media="screen">
.relative {
    position: relative;
    width: 120px;
}
.absolute {
    position: absolute;
    right:0px;
    bottom: -15px;
    width: 120px;
    height: auto;
}


  .inline-block_test {
    display: inline-block;      /* インラインブロック要素にする */
    margin:  20px;             /* 余白指定 */
    vertical-align:  top;    /* 要素を上下中央揃えにする */
}

*,
*::before,
*::after {
box-sizing: border-box;
}

$color: #e24040;

body {
height: 100vh;
margin: 0;
background: #DEDEDE;
color: #5a6674;
font-size: 13px;
font-family: 'Roboto', sans-serif;
overflow: hidden;
}


/*--------------------
App
--------------------*/
.search-form {
position: relative;
top: 10px;
left: 50%;
width: 350px;
height: 40px;
border-radius: 40px;
box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
transform: translate(-50%, -50%);
background: #f5f5f5;
transition: all 0.3s ease;

&.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}
}

.search-input {
position: absolute;
top: 10px;
left: 38px;
font-size: 14px;
background: none;
color: #5a6674;
width: 195px;
height: 20px;
border: none;
appearance: none;
outline: none;

&::-webkit-search-cancel-button {
  appearance: none;
}
}

.search-button {
position: absolute;
top: 10px;
left: 15px;
height: 20px;
width: 20px;
padding: 0;
margin: 0;
border: none;
background: none;
outline: none!important;
cursor: pointer;

& svg {
  width: 20px;
  height: 20px;
  fill: #5a6674;
}
}

.search-option {
position: absolute;
text-align: right;
top: 10px;
right: 15px;

div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.01;
    cursor: pointer;
  }

  span {
    position: absolute;
    display: block;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    background: #929AA3;
    color: #fff;
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
    padding: 4px 7px;
    border-radius: 12px;
    top: -18px;
    transition: all .2s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 50%;
      transform: translateX(-50%);
      border-top: 4px solid #929AA3;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      transition: all .2s ease-in-out;
    }
  }

  &:hover span {
    opacity: 1;
    top: -21px;
  }


  input:checked + label svg {
    fill: $color;
    opacity: .9;
  }

  input:checked + label span {
    background: $color;

    &::after {
      border-top-color: $color;
    }
  }
}
</style>
{% endblock %}

{% block content %}

<a href="{% url 'register:text_sale' %}" class="btn btn-outline-dark mb-3">出品画面へ</a>

<form class="search-form">
  <input class="search-input" type="text" placeholder="Search"
    aria-label="Search" name="keyword">
  <button type="submit" class="search-button">
    <i class="fas fa-search"></i>
  </button>
</form>

{% for text_product in text_product_list %}
<div class="card">
  <div class="card-body px-2 my-0">

    <div class="media">
    <!-- 1.画像の配置 -->
    <!-- 2.画像の説明 -->
    <div class="media-body">
        <h5 class="media-heading"><a href="{{ text_product.url }}">{{ text_product.product_name }}</a></h5>
        {{ text_product.url }}
        <h5>¥{{ text_product.price }}</h5>
    </div>
　　</div>
  </div>
</div>
{% endfor %}
{% endblock %}


{% block content1 %}

<a href="{% url 'register:text_sale' %}" class="btn btn-outline-dark mb-5">出品画面へ</a>

<form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'register:text_product_list' %}">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="keyword">
  <button class="btn btn-outline-success my-2 my-sm-2" type="submit">Search</button>
</form>
{% for text_product in text_product_list %}
<div class="card">
  <div class="card-body">

    <div class="media">
    <!-- 1.画像の配置 -->
    <a class="media-left mr-5" href="#">
      <div class="relative">
        <img src="/media/{{ text_product.image }}" width="120px" height=120px>
        {% if text_product.on_sale == False %}
        <img src="/media/images/sold.png" class="absolute">
        {% endif %}
      </div>
    </a>
    <!-- 2.画像の説明 -->
    <div class="media-body">
        <h2 class="media-heading"><a href="{% url 'register:text_product_detail' text_product.pk %}">{{ text_product.product_name }}</a></h2>
        <h5>¥{{ text_product.price }}</h5>
        <h5>{{ text_product.lecture }}</h5>
    </div>
　　</div>
  </div>
</div>
{% endfor %}
{% endblock %}
