{% extends "register/base.html" %}


{% block content %}
{% if messages %}
	<ul class="messages_ul">
		{% for message in messages %}
			<li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}
{% if lecture_list %}
{% for lecture in lecture_list %}
<div class="card mr-5">
	<div class="card-body">
		<h4 class="card-title">{{lecture.lecture_name}}</h4>
		<p class="card-text">担当教員：{{lecture.teacher_name}}<br>作成日：{{lecture.created_at}}</p>
		<div style="display:inline-flex">
		 <div class="btn-group" role="group" aria-label="Basic example">
				<a href="{% url 'register:detail' lecture.pk 0 %}" class="btn btn-outline-dark">詳細を表示</a>
				<a href="{% url 'register:chat' lecture.pk %}" class="btn btn-outline-dark">チャット</a>
				{% if lecture not in user_lecture_eva_list %}
				<a href="{% url 'register:evaluate' lecture.pk%}" class="btn btn-outline-dark">授業評価</a>
				{% endif %}
		</div>
	</div>
 <form action="{% url 'register:top' %}" method='POST'> <!-- ここを変更 -->
		{% if lecture in user_lecture_list %}
		<button class="btn btn-outline-danger mt-3" name="lecture" value="{{ lecture.id }}">登録解除</button>
		{% endif %}
		{% csrf_token %}
</form>
	</div>
	</div>
{% endfor %}
{% else %}
<div class="card">
	<div class="card-body">
		「講義を探す」ボタンから履修中の講義を登録してください
	</div>
</div>
{% endif %}
{% include 'register/page5.html' %}
{% endblock %}



{% block content1 %}
{% if messages %}
	<ul class="messages_ul">
		{% for message in messages %}
			<li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}

<h1>こんにちは、{{user_name}}さん</h1>

{% if lecture_list %}
{% for lecture in lecture_list %}
<div class="card mr-5">
 <div class="card-body">
	 <h4 class="card-title">{{lecture.lecture_name}}</h4>
	 <p class="card-text">担当教員：{{lecture.teacher_name}}　　　　作成日：{{lecture.created_at}}</p>
	 <div style="display:inline-flex">

		 <div class="btn-group" role="group" aria-label="Basic example">
				<a href="{% url 'register:detail' lecture.pk 0 %}" class="btn btn-outline-dark">詳細を表示</a>
				<a href="{% url 'register:chat' lecture.pk %}" class="btn btn-outline-dark">チャット</a>
				{% if lecture not in user_lecture_eva_list %}
				<a href="{% url 'register:evaluate' lecture.pk %}" class="btn btn-outline-dark">授業評価</a>
				{% endif %}
		</div>

		 <form action="{% url 'register:top' %}" method='POST'> <!-- ここを変更 -->
				{% if lecture in user_lecture_list %}
				<button class="btn btn-outline-danger mx-1" name="lecture" value="{{ lecture.id }}">登録解除</button>
				{% endif %}
				{% csrf_token %}
		</form>
 </div>
 </div>
 </div>
{% endfor %}
{% else %}
<div class="card">
	<div class="card-body">
		「講義を探す」ボタンから履修中の講義を登録してください
	</div>
</div>
{% endif %}
{% include 'register/page5.html' %}
{% endblock %}
