{% extends "register/base.html" %}
{% block content2 %}
<div class="my-3 mx-3">
  <div class="alert alert-info" role="alert">
  <h5 class="alert-heading" style="font-weight:bold">本登録が完了しました。</h5>
  登録されたメールアドレスとパスワードでログインしてください。
  </div>
  <div style="text-align:center">
    <a class="btn btn-outline-info" style="width:70%" href="{% url 'register:login' %}">ログイン画面へ</a>
  </div>
</div>
{% endblock %}


{% block content3 %}
<div class="my-3 mx-3">
  <div class="alert alert-info" role="alert">
  <h5 class="alert-heading" style="font-weight:bold">本登録が完了しました。</h5>
  登録されたメールアドレスとパスワードでログインしてください。
  </div>
  <div style="text-align:center">
    <a class="btn btn-primary btn-lg" style="width:70%" href="{% url 'register:login' %}">ログイン画面へ</a>
  </div>
</div>
{% endblock %}
